body {
    font-family: sans-serif;
}

#chart-out {
    max-width: 500px;
    padding: 15px 0;
    margin: 0 auto;
    transform: rotate(-90deg);

}

#chart-in {
    width: 95%;
    margin: 0 auto;
    padding-top: 5px;
    border-left: 1px solid green;
    border-bottom: 1px solid green;
}

.bar-out {
    height: 30px;
    margin: 5px 0;
    position: relative;
    text-align: center;
}

.bar-in {
    height: 100%;
    background-color: #1493B2;

    width: 100%;
}

.info {
    z-index: 10;
    position: absolute;
    border: none;
    height: 20px;
    font-size: 13px;
    margin-top: 5px;
    border-radius: 3px;
    background-color: #C3301E;
    color: #f4f4f4;
    font-weight: bold;
}

.info:focus {
    outline: none;
}

